body {
    display: flex;
    border-color: white;
    border-style: solid;
}

aside {
    background-color: greenyellow;
    min-width:250px
}

main {
    background: linear-gradient(180deg, rgba(242, 101, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 450px;
    background-color: #1F1F1F;
    font-size: xx-large;
}

#name {

    height: 100px;
}

#info {
    height: 230px;
}


footer {
    background-color: blueviolet;
    height: 10%;
}

h1 {
    color: white;
    font-size: 1em;
    margin: 0;
}

p {
    font-size: medium;
    color: #A9A9A9;
    font-size: 0.5em;
    margin: 0;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}


.music-player {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}



.music-cover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.album-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.album-img {
    width: 74%;
    height: 74%;
}



@media (max-width:1250px) {

    section {
       
        width: 300px;
        height: 100px;
        font-size: x-large;
    }



    .album-cover {
        height: 300px;
        width: 300px;
    }

    #name {
        height: 65px;
    }

    #info {
        height: 150px;
    }


}


@media (max-width: 600px) {
    .music-cover {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    aside {
        display: none;
    }

}